version: '3.8'
services:
  food-history:
    container_name: food-history
    image: lh0528/food-history:latest
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
    restart: always
    volumes:
      - ./data:/app/data
    networks:
      - foods

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "82:80"
      - "8445:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./certs:/etc/nginx/certs
      - /var/www/letsencrypt:/var/www/letsencrypt:ro
    networks:
      - foods

networks:
  foods:
    name: food-history-network
    driver: bridge