version: '3.8'
services:
  food-history:
    container_name: food-history
    image: lh0528/food-history:latest
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always
    volumes:
      - ./data:/app