name: Deploy to GCP

on:
  workflow_run:
    workflows: ["Build and Push Docker Image"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: SSH to GCP and run Docker Compose
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.GCP_HOST }}
          username: ${{ secrets.GCP_USERNAME }}
          key: ${{ secrets.GCP_SSH_KEY }}
          script: |
            mkdir -p food-history
            cd food-history
            rm -rf docker-compose.yml
            wget https://raw.githubusercontent.com/Angus-repo/food-history/main/docker-compose.yml
            rm -rf nginx.conf
            wget https://raw.githubusercontent.com/Angus-repo/food-history/main/nginx.conf
            docker-compose down --rmi all
            docker-compose up -d